<a href="https://colab.research.google.com/github/583555/codingclub/blob/main/codehw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def get_scores_data(scores_list):
  highest_score = max(scores_list)
  lowest_score = min(scores_list)
  return highest_score, lowest_score
scores = [31, 7, 80]
data = get_scores_data(scores)
highest = data[0]
lowest = data[1]
print(highest)
print(lowest)

80
7

In [ ]:
data = [("Diane", 50), ("Jack", 30), ("Mark", 24)]
data_2 = []
for i in range(len(data)):
  data_2.append(data[i])
print(data_2)

[('Diane', 50), ('Jack', 30), ('Mark', 24)]

In [ ]:
for c in "Hello":
  print(c)

H
e
l
l
o